html,
body {
    overflow-x: hidden;
    overflow: scroll;
}

body {
    background-color: #000000 !important;
    font-family: 'open_sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #000000;
}

.control-row {
    font-family: 'open_sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
    color: #fff !important;
    font-size: 0.8em !important;
}

.shadow {
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}

.opaque {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=90);
    /* Modern Browsers */
    opacity: 0.9;
}

/* .center-on-page {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

h1 {
    text-align: center;
}

/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

/* Custom Select */

.select {
    /* left: 40%; */
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}

/* Transition */

.select:hover::after {
    color: #f39c12;
}

.select::after {
    transition: .25s all ease;
}

.table {
    color: white;
    font-size: 0.7em;
}

.table> thead> tr > th {
    text-align:center;
    vertical-align:middle !important;
}

#localidadSelector {
    z-index: 999 !important;
}

#divYearSelector {
    z-index: 999 !important;
    left: 0px;
}