body .no-padding {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}


/*
    MAPA
*/

.map {
    width: 100vw;
    height: 100vh;
}

.leaflet-tooltip {
    padding: 2px;
    font-size: 10px;
}


/*
    VOLVER
*/

.volver-control {
    width: 80px;
    height: 100px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    text-align: center;
    /*background-size: 64px 64px;
    background-repeat: no-repeat;
    background-image: url('back-icon.png');*/
    z-index: 800;
}


/*
    LOAD DATA
*/

.loadData {
    position: absolute;
    right: 50px;
    padding: 10px;
    z-index: 5000;
}

body .btn {
    margin: 5px;
}


/*
    LEYENDA
*/

.legend {
    color: #555;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.legend .min {
    float: left;
    padding-bottom: 5px;
}

.legend .max {
    float: right;
}