html,
body,
#container {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}


/*
    MAPA
*/

#map {
    width: auto;
    height: 100vh;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}


/*
    INFORMACION
*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}


/*
  HOME
*/

.leaflet-control-defaultextent-toggle {
    text-indent: -9999px;
    white-space: nowrap;
    background-image: url('images/leaflet.defaultextent.png');
    width: 26px;
    height: 26px;
    display: block;
}


/*
    LOGO
*/

div.logo {
    content: url("../images/Logo_observaDHores.jpg");
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 150px;
    height: 56px;
    z-index: 100
}




#infobox {
    padding: 10px;
    position: absolute;
    width: 330px;
    height: 170px;
    background: rgba(255, 255, 255, 1);
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    zoom: 1;
    font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
    font-size: 0.990em;
    color: #000;
    right: 15px;
    font-size: .8em;
    top: 50px;
    overflow: visible;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    z-index: 600;
}

/*
    TIPOS DE LEYENDAS
*/

#Leyenda-wrapper {
    position: absolute;
    bottom: 150px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    padding-top: 0px;
}

#selLeyenda {
    margin-bottom: 5px;
}


/*
    LEYENDA
*/

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
