html,
body {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/*
    MAPA
*/

#filtro {
    height: 100vh;
    background-color: red;
}

.map {
    height: 100vh;
}

.leaflet-tooltip {
    padding: 2px;
    font-size: 10px;
}
