html,
body,
#container {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}


/*
    MAPA
*/

#map {
    width: auto;
    height: 100vh;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}


/*
    INFORMACION
*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}


/*
    LEYENDA
*/

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/*
  HOME
*/

.leaflet-control-defaultextent-toggle {
    text-indent: -9999px;
    white-space: nowrap;
    background-image: url('images/leaflet.defaultextent.png');
    width: 26px;
    height: 26px;
    display: block;
}


/*
    LOGO
*/

div.logo {
    content: url("../images/Logo_observaDHores.jpg");
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 150px;
    height: 56px;
    z-index: 100
}


/*
    TIPOS DE LEYENDAS
*/

#Leyenda-wrapper {
    position: absolute;
    bottom: 100px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    padding-top: 0px;
}

#selLeyenda {
    margin-bottom: 5px;
}


/*
    FILTRO POR LOCALIDAD
*/


/*
.filtros {
    background: #f00;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    padding: 10px;
    border-radius: 3px;
}

.dotLegend {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display:inline-block;
}
*/
