html,
body {
    height: 100vh;
    margin:0;
}

#mapNodos {
    height: 100vh;
}

/*
 Cluster
*/
.marker-cluster-small {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster-large {
    background-color: rgba(240, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(255, 38, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(241, 128, 23);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(240, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(255, 38, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-control-defaultextent {

}

/*
  Control Home
*/
.leaflet-control-defaultextent-toggle {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('images/leaflet.defaultextent.png');
  width: 26px;
  height: 26px;
  display: block;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .leaflet-control-defaultextent-toggle {
        background-image: url('images/leaflet.defaultextent@2X.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
    }
}
