html,
body,
#container {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

/*
    MAPA
*/

#map {
    width: auto;
    height: 100vh;
}

.leaflet-tooltip {
    padding: 2px;
    font-size: 10px;
}

body .modal-dialog {
    /* new custom width */
    width: 600px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -375px;*/
}

.nav-tabs li.active{
    width: 15%;
}
.nav-tabs li.tab2{
    width: 15%;
}
.nav-tabs li.tab3{
    width: 15%;
}
.nav-tabs li.tab4{
    width: 15%;
}
.nav-tabs li.tab5{
    width: 15%;
}

.nav>li>a {
    padding: 10px 3px;
}
/*
    INFORMACION
*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*
    EXTENT
*/

div.logo {
    content: url("images/003.png");
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 128px;
    height: 128px;
    z-index: 999;
    text-indent: -9999px;
    border:1px solid black;
    border-radius: 25px;
    cursor: w-resize;
}

#btnBusqueda {
	position: absolute;
	bottom: 160px;
	left: 60px;
	z-index: 999;
}

#infobox {
    padding: 10px;
    position: absolute;
    width: 150px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    zoom: 1;
    font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
    font-size: 0.990em;
    color: #000;
    right: 15px;
    font-size: .8em;
    top: 50px;
    overflow: visible;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    z-index: 600;
}


/*
    TIPOS DE LEYENDAS
*/

#Leyenda-wrapper {
    position: absolute;
    bottom: 150px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    padding-top: 0px;
}

#selLeyenda {
    margin-bottom: 5px;
}


/*
    LEYENDA
*/

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*
    LOGOS OBSERVATORIOS
*/
.imgLogo {
    max-width: 500px;
}

#aboutTabsContent {
    padding-top: 10px;
}
